In [1]:
import pandas as pd
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import os

<hr>
<hr>
<h1># 02 - Ergebnisdaten: Harmonisierung der geparsten Daten:</h1>
<h2>1. Berlin<h2>
<h2>2. Chicago</h2>
<h2>3. London</h2>
<h2>4. New York</h2>
<h2>5. Tokyo</h2>
<hr>
<hr>
<p><b>Hinweis:</b> Dateifpade sind absolut angegeben und müssen entsprechend der eigenen Verzeichnisstruktur angepasst werden! <br>
Beim angeben des Hauptverzeichnisses bitte sicherstellen das folgende Unterverzeichnisse angelgt sind:
<lu>
<li>/Berlin/</li>
<li>/Chicago/</li>
<li>/London/</li>
<li>/NYC/</li>
<li>/Tokyo/</li>
<li>/wmm_data/</li>
</lu>
<br>
Da sonst eine Anpassung im Code notwendig wird!
</p>
<hr>
<p><b>ACHTUNG: Unbedingt vor dem Ausführen beachten:</b> <br>
Die Namen der Athletinnen und Athleten des Tokyo-Wettbewerbs müssen vorher in den geparsten Dateien aus dem japanischen (händisch) übersetzt werden! <br>
Ansonsten bricht das Skript ab!</p>
<hr>
<hr>

In [3]:
# Hauptverzeichnis setzen
main_data_path = '/home/paul/python_projects/masterthesis/data/'
# Das Hauptverzeichnis muss folgende Unterverzeichnisse mit den Daten enthalten (ansonsten müssen diese im Code angepasst werden):
# /Berlin/
# /Chicago/
# /London/
# /NYC/
# /Tokyo/
# /wmm_data/

pd.set_option('display.max_columns', 1000)

<h1>1. Berlin-Marathon:</h1>
<hr>

In [3]:
# Daten einlesen
df_berlin_data_csv = pd.read_csv(filepath_or_buffer=main_data_path +'Berlin/daten_wmm_berlin_all.csv',
    header=0, sep=';',
    decimal='.',
    names=['Jahr', 'Platz','Vorname', 'Nachname', 'NAT', 'SN', 'Verein','Geschlecht','Netto', 'Brutto','5KM','10KM','15KM','20KM','HM','25KM','30KM','35KM','40KM']
)

df_berlin_data_csv.head()

,Jahr,Platz,Vorname,Nachname,NAT,SN,Verein,Geschlecht,Netto,Brutto,5KM,10KM,15KM,20KM,HM,25KM,30KM,35KM,40KM
0,2019,1,Kenenisa,Bekele,ETH,2,Äthiopien,M,02:01:41,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30
1,2019,2,Birhanu,Legese,ETH,5,Äthiopien,M,02:02:48,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00
2,2019,3,Sisay,Lemma,ETH,4,Äthiopien,M,02:03:36,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54
3,2019,4,Jonathan,Korir,KEN,7,Kenia,M,02:06:45,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49
4,2019,5,Felix,Kandie,KEN,6,Kenia,M,02:08:07,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27

In [4]:
# Nicht benötigte Spalten entfernen
df_berlin_data = df_berlin_data_csv.drop(columns=['NAT','SN','Verein','Brutto'])

# Spalten hinzufügen
df_berlin_data['Datum'] = None
df_berlin_data['Startzeit'] = None
df_berlin_data['Ort'] = 'Berlin'

# Spalten umbenennen
df_berlin_data = df_berlin_data.rename(
    columns={'Netto':'T_KM_FN','5KM':'T_KM_5','10KM':'T_KM_10','15KM':'T_KM_15','20KM':'T_KM_20','HM':'T_KM_HM','25KM':'T_KM_25','30KM':'T_KM_30','35KM':'T_KM_35','40KM':'T_KM_40'})

# Spalten umsortieren
df_berlin_data = df_berlin_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]
df_berlin_data.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2019,Berlin,M,Kenenisa,Bekele,1,None,None,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30
1,2019,Berlin,M,Birhanu,Legese,2,None,None,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00
2,2019,Berlin,M,Sisay,Lemma,3,None,None,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54
3,2019,Berlin,M,Jonathan,Korir,4,None,None,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49
4,2019,Berlin,M,Felix,Kandie,5,None,None,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27

<hr>
<h1>2. Chicago-Marathon:</h1>
<hr>

In [10]:

# Temporäres Dateframe erzeugen
df_chicago_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges', 'Name', 'Age_Group', 'Runner_Number', 'Place_Gender', 'Place_Age_Group','Place_Overall','Start_Time_of_day','Finish_Time','5K_Time','5K_Diff','5K_min_km','5K_kmh'
        ,'10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time','15K_Diff','15K_min_km','15K_kmh','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time','HK_Diff','HK_min_km','HK_kmh'
        ,'25K_Time','25K_Diff','25K_min_km','25K_kmh','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time','40K_Diff','40K_min_km','40K_kmh'
        ,'FK_Time','FK_Diff','FK_min_km','FK_kmh'
        ])
    ,dtype=str)

# Daten einlesen
for year in range(2007,2020):
        file_path = main_data_path + 'Chicago/daten_wmm_chicago_' + str(year) + '.csv'
        df_chicago_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges', 'Name', 'Age_Group', 'Runner_Number', 'Place_Gender', 'Place_Age_Group','Place_Overall','Start_Time_of_day','Finish_Time','5K_Time','5K_Diff','5K_min_km','5K_kmh'
                ,'10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time','15K_Diff','15K_min_km','15K_kmh','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time','HK_Diff','HK_min_km','HK_kmh'
                ,'25K_Time','25K_Diff','25K_min_km','25K_kmh','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time','40K_Diff','40K_min_km','40K_kmh'
                ,'FK_Time','FK_Diff','FK_min_km','FK_kmh'
                ]
        )
        df_chicago_data_csv = df_chicago_data_csv.append(df_chicago_data_csv_temp, ignore_index=True)

df_chicago_data_csv.head(50)

,Jahr,Ges,Name,Age_Group,Runner_Number,Place_Gender,Place_Age_Group,Place_Overall,Start_Time_of_day,Finish_Time,5K_Time,5K_Diff,5K_min_km,5K_kmh,10K_Time,10K_Diff,10K_min_km,10K_kmh,15K_Time,15K_Diff,15K_min_km,15K_kmh,20K_Time,20K_Diff,20K_min_km,20K_kmh,HK_Time,HK_Diff,HK_min_km,HK_kmh,25K_Time,25K_Diff,25K_min_km,25K_kmh,30K_Time,30K_Diff,30K_min_km,30K_kmh,35K_Time,35K_Diff,35K_min_km,35K_kmh,40K_Time,40K_Diff,40K_min_km,40K_kmh,FK_Time,FK_Diff,FK_min_km,FK_kmh
0,2007,M,"Ivuti, Patrick (KEN)",25-29,8,1,1,1,–,02:11:11,00:15:44,15:44,03:09,19.07,00:31:32,15:48,03:10,18.99,00:47:17,15:45,03:09,19.05,01:02:39,15:22,03:05,19.52,01:05:52,03:13,02:56,20.46,01:17:48,11:56,03:04,19.62,01:33:05,15:17,03:04,19.63,01:49:06,16:01,03:13,18.73,02:04:36,15:30,03:06,19.35,02:11:11,06:35,03:00,20.01
1,2007,M,"Gharib, Jaouad (MAR)",35-39,7,2,1,2,–,02:11:11,00:15:44,15:44,03:09,19.07,00:31:31,15:47,03:10,19.01,00:47:17,15:46,03:10,19.03,01:02:39,15:22,03:05,19.52,01:05:53,03:14,02:57,20.36,01:17:48,11:55,03:04,19.65,01:33:05,15:17,03:04,19.63,01:49:06,16:01,03:13,18.73,02:04:37,15:31,03:07,19.33,02:11:11,06:34,03:00,20.06
2,2007,M,"Njenga, Daniel (KEN)",30-34,3,3,1,3,–,02:12:45,00:15:44,15:44,03:09,19.07,00:31:32,15:48,03:10,18.99,00:47:18,15:46,03:10,19.03,01:02:40,15:22,03:05,19.52,01:05:53,03:13,02:56,20.46,01:17:48,11:55,03:04,19.65,01:33:05,15:17,03:04,19.63,01:49:06,16:01,03:13,18.73,02:05:18,16:12,03:15,18.52,02:12:45,07:27,03:24,17.68
3,2007,M,"Cheruiyot, Robert K. (KEN)",25-29,1,4,2,4,–,02:16:13,00:15:44,15:44,03:09,19.07,00:31:31,15:47,03:10,19.01,00:47:16,15:45,03:09,19.05,01:02:39,15:23,03:05,19.5,01:05:52,03:13,02:56,20.46,01:17:47,11:55,03:04,19.65,01:33:05,15:18,03:04,19.61,01:49:06,16:01,03:13,18.73,02:07:50,18:44,03:45,16.01,02:16:13,08:23,03:50,15.71
4,2007,M,"Maiyo, Benjamin (KEN)",25-29,4,5,3,5,–,02:16:59,00:15:44,15:44,03:09,19.07,00:31:31,15:47,03:10,19.01,00:47:16,15:45,03:09,19.05,01:02:39,15:23,03:05,19.5,01:05:53,03:14,02:57,20.36,01:17:48,11:55,03:04,19.65,01:33:27,15:39,03:08,19.17,01:50:36,17:09,03:26,17.49,02:08:58,18:22,03:41,16.33,02:16:59,08:01,03:40,16.43
5,2007,M,"Cheboiboch, Christopher (KEN)",30-34,12,6,2,6,–,02:17:17,00:15:44,15:44,03:09,19.07,00:31:34,15:50,03:10,18.95,00:47:18,15:44,03:09,19.07,01:02:55,15:37,03:08,19.21,01:06:24,03:29,03:11,18.9,01:18:59,12:35,03:14,18.61,01:35:40,16:41,03:21,17.98,01:52:48,17:08,03:26,17.51,02:09:47,16:59,03:24,17.66,02:17:17,07:30,03:26,17.56
6,2007,M,"Lee, Bong ju (KOR)",35-39,10,7,2,7,–,02:17:29,00:15:44,15:44,03:09,19.07,00:31:31,15:47,03:10,19.01,00:47:17,15:46,03:10,19.03,01:02:59,15:42,03:09,19.11,01:06:31,03:32,03:14,18.63,01:19:14,12:43,03:16,18.42,01:35:47,16:33,03:19,18.13,01:52:50,17:03,03:25,17.6,02:09:57,17:07,03:26,17.53,02:17:29,07:32,03:26,17.48
7,2007,M,"Cox, Michael (USA)",30-34,330,8,3,8,–,02:21:42,00:16:33,16:33,03:19,18.13,00:32:57,16:24,03:17,18.29,00:49:32,16:35,03:19,18.09,01:06:09,16:37,03:20,18.05,01:09:48,03:39,03:20,18.03,01:22:42,12:54,03:19,18.15,01:39:20,16:38,03:20,18.04,01:56:35,17:15,03:27,17.39,02:14:08,17:33,03:31,17.09,02:21:42,07:34,03:27,17.41
8,2007,M,"Flogel, Jason (USA)",20-24,343,9,1,9,–,02:26:34,00:16:51,16:51,03:23,17.8,00:33:26,16:35,03:19,18.09,00:50:17,16:51,03:23,17.8,01:07:16,16:59,03:24,17.66,01:11:03,03:47,03:27,17.4,01:24:24,13:21,03:26,17.54,01:41:53,17:29,03:30,17.16,02:00:05,18:12,03:39,16.48,02:18:28,18:23,03:41,16.32,02:26:34,08:06,03:42,16.26
9,2007,M,"Blake, Eric (USA)",25-29,91,10,4,10,–,02:26:55,00:17:04,17:04,03:25,17.58,00:33:39,16:35,03:19,18.09,00:50:31,16:52,03:23,17.79,01:07:31,17:00,03:24,17.65,01:11:17,03:46,03:27,17.47,01:24:50,13:33,03:29,17.28,01:42:37,17:47,03:34,16.87,02:00:57,18:20,03:40,16.36,02:19:08,18:11,03:39,16.5,02:26:55,07:47,03:33,16.92
10,2007,W,"Adere, Berhane (ETH)",30-34,101,1,1,27,–,02:33:49,00:17:46,17:46,03:34,16.89,00:35:22,17:36,03:32,17.05,00:53:21,17:59,03:36,16.68,01:11:18,17:57,03:36,16.71,01:15:11,03:53,03:33,16.95,01:28:58,13:47,03:32,16.99,01:47:19,18:21,03:41,16.35,02:06:42,19:23,03:53,15.48,02:25:56,19:14,03:51,15.6,02:33:49,07:53,03:36,16.71
11,2007,W,"Pirtea, Adriana (ROU)",25-29,110,2,1,29,–,02:33:52,00:17:47,17:47,03:34,16.87,00:35:23,17:36,03:32,17.05,00:53:21,17:58,03:36,16.7,01:11:18,17:57,03:36,16.71,01:15:12,03:54,03:34,16.88,01:28:59,13:47,03:32,16.99,01:47:20,18:21,03:41,16.35,02:06:42,19:22,03:53,15.49,02:25:26,18:44,03:45,16.01,02:33:52,08:26,03:51,15.62
12,2007,W,"O'Neill, Kate (USA)",25-29,109,3,2,37,–,02:36:15,00:17:49,17:49,03:34,16.84,00:35:31,17:42,03:33,16.95,00:53:30,17:59,03:36,16.68,01:11:44,18:14,03:39,16.45,01:15:47,04:03,03:42,16.25,01:30:02,14:15,03:40,16.43,01:48:29,18:27,03:42,16.26,02:07:37,19:08,03:50,15.68,02:27:32,19:55,04:00,15.06,02:36:15,08:43,03:59,15.11
13,2007,W,"Yelling, Liz (GBR)",30-34,106,4,2,42,–,02:37:14,00:17:47,17:47,03:34,16.87,00:35:24,17:37,03:32,17.03,00:53:22,17:58,03:36,16.7,01:11:31,18:09,03:38,16.53,01:15:31,04:00,03:39,16.45,01:30:08,14:37,03:45,16.02,01:49:12,19:04,03:49,15.73,02:09:00,19:48,03:58,15.15,02:28:54,19:54,03:59,15.08,02:37:14,08:20,03:48,15.8
14,2007,W,"Johnson, Benita (AUS)",25-29,102,5,3,49,–,02:38:30,00:17:47,17:47,03:34,16.87,00:35:23,17:36,03:32,17.05,00:53:21,17:58,03:36,16.7,01:11:18,17:57,03:36,16.71,01:15:12,03:54,03:34,16.88,01:29:10,13:58,03:35,16.77,01:48:12,19:02,03:49,15.76,02:08:04,19:52,03:59,15.1,02:29:12,21:08,04:14,14.2,02:38:30,09:18,04:15,14.16
15,2007,W,"Olaru, Nuta (ROU)",35-39,105,6,1,54,–,02:39:04,00:17:47,17:47,03:34,16.87,00:35:22,17:35,03:31,17.06,00:53:21,17:59,03:36,16.68,01:11:18,17:57,03:36,16.71,01:15:11,03:53,03:33,16.95,01:29:22,14:11,03:39,16.51,01:48:54,19:32,03:55,15.36,02:09:52,20:58,04:12,14.31,02:30:09,20:17,04:04,14.79,02:39:04,08:55,04:04,14.77
16,2007,W,"Higgins, Paige (USA)",25-29,256,7,4,58,–,02:40:14,00:19:06,19:06,03:50,15.71,00:37:25,18:19,03:40,16.38,00:56:08,18:43,03:45,16.03,01:14:51,18:43,03:45,16.03,01:18:55,04:04,03:43,16.19,01:33:26,14:31,03:44,16.13,01:52:25,18:59,03:48,15.8,02:11:47,19:22,03:53,15.49,02:31:30,19:43,03:57,15.22,02:40:14,08:44,03:59,15.08
17,2007,W,"Fernandez, Yolanda (COL)",25-29,111,8,5,83,–,02:45:23,00:19:00,19:00,03:48,15.79,00:38:15,19:15,03:51,15.58,00:57:41,19:26,03:54,15.44,01:16:36,18:55,03:47,15.86,01:20:43,04:07,03:46,15.99,01:35:43,15:00,03:51,15.61,01:55:19,19:36,03:56,15.31,02:15:38,20:19,04:04,14.77,02:36:27,20:49,04:10,14.41,02:45:23,08:56,04:05,14.74
18,2007,W,"Moody, Tera (USA)",25-29,121,9,6,92,–,02:46:40,00:18:49,18:49,03:46,15.94,00:38:05,19:16,03:52,15.57,00:57:40,19:35,03:55,15.32,01:17:08,19:28,03:54,15.41,01:21:22,04:14,03:52,15.55,01:36:25,15:03,03:52,15.56,01:55:54,19:29,03:54,15.4,02:15:56,20:02,04:01,14.97,02:37:00,21:04,04:13,14.24,02:46:40,09:40,04:25,13.62
19,2007,W,"Butler, Kathy (GBR)",30-34,108,10,3,103,–,02:48:21,00:17:32,17:32,03:31,17.11,00:35:23,17:51,03:35,16.81,00:53:38,18:15,03:39,16.44,01:12:25,18:47,03:46,15.97,01:16:38,04:13,03:51,15.61,01:32:04,15:26,03:58,15.17,01:53:36,21:32,04:19,13.93,02:16:43,23:07,04:38,12.98,02:38:18,21:35,04:19,13.9,02:48:21,10:03,04:35,13.1
20,2008,M,"Cheruiyot, Evans (KEN)",25-29,9,1,1,1,–,02:06:25,00:15:00,15:00,03:00,20.0,00:29:51,14:51,02:59,20.2,00:44:45,14:54,02:59,20.13,00:59:15,14:30,02:54,20.69,01:02:27,03:12,02:56,20.57,01:14:02,11:35,02:59,20.22,01:29:07,15:05,03:01,19.89,01:44:16,15:09,03:02,19.8,01:59:33,15:17,03:04,19.63,02:06:25,06:52,03:08,19.18
21,2008,M,"Mandago, David (KEN)",30-34,11,2,1,2,–,02:07:37,00:14:58,14:58,03:00,20.04,00:29:50,14:52,02:59,20.18,00:44:44,14:54,02:59,20.13,00:59:14,14:30,02:54,20.69,01:02:27,03:13,02:56,20.46,01:14:02,11:35,02:59,20.22,01:29:07,15:05,03:01,19.89,01:44:16,15:09,03:02,19.8,01:59:50,15:34,03:07,19.27,02:07:37,07:47,03:33,16.92
22,2008,M,"Cherigat, Timothy (KEN)",30-34,7,3,2,3,–,02:11:39,00:15:01,15:01,03:01,19.98,00:29:53,14:52,02:59,20.18,00:44:52,14:59,03:00,20.02,01:00:25,15:33,03:07,19.29,01:03:54,03:29,03:11,18.9,01:15:57,12:03,03:06,19.43,01:31:57,16:00,03:12,18.75,01:47:56,15:59,03:12,18.77,02:04:17,16:21,03:17,18.35,02:11:39,07:22,03:22,17.88
23,2008,M,"Korir, Wesley (KEN)",25-29,248,4,2,4,–,02:13:53,00:15:07,15:07,03:02,19.85,00:30:25,15:18,03:04,19.61,00:45:47,15:22,03:05,19.52,01:01:01,15:14,03:03,19.69,01:04:21,03:20,03:03,19.75,01:16:40,12:19,03:10,19.01,01:32:24,15:44,03:09,19.07,01:48:44,16:20,03:16,18.37,02:06:05,17:21,03:29,17.29,02:13:53,07:48,03:34,16.88
24,2008,M,"Lauret, Martin (NED)",35-39,17,5,1,5,–,02:15:10,00:15:30,15:30,03:06,19.35,00:31:00,15:30,03:06,19.35,00:46:47,15:47,03:10,19.01,01:02:52,16:05,03:13,18.65,01:06:21,03:29,03:11,18.9,01:18:42,12:21,03:10,18.96,01:34:53,16:11,03:15,18.54,01:51:18,16:25,03:17,18.27,02:07:52,16:34,03:19,18.11,02:15:10,07:18,03:20,18.04
25,2008,M,"Mutai, Emmanuel (KEN)",20-24,4,6,1,6,–,02:15:36,00:14:58,14:58,03:00,20.04,00:29:50,14:52,02:59,20.18,00:44:43,14:53,02:59,20.16,00:59:14,14:31,02:55,20.67,01:02:27,03:13,02:56,20.46,01:14:03,11:36,02:59,20.19,01:29:22,15:19,03:04,19.59,01:46:08,16:46,03:22,17.89,02:05:29,19:21,03:53,15.5,02:15:36,10:07,04:37,13.02
26,2008,M,"Reneau, Mike (USA)",30-34,14,7,3,7,–,02:16:20,00:16:15,16:15,03:15,18.46,00:32:24,16:09,03:14,18.58,00:48:38,16:14,03:15,18.48,01:04:50,16:12,03:15,18.52,01:08:20,03:30,03:12,18.81,01:20:49,12:29,03:12,18.76,01:37:00,16:11,03:15,18.54,01:53:11,16:11,03:15,18.54,02:09:19,16:08,03:14,18.59,02:16:20,07:01,03:12,18.77
27,2008,M,"Kipsang, William (KEN)",30-34,3,8,4,8,–,02:16:41,00:15:07,15:07,03:02,19.85,00:29:51,14:44,02:57,20.36,00:44:44,14:53,02:59,20.16,00:59:47,15:03,03:01,19.93,01:03:11,03:24,03:06,19.36,01:15:37,12:26,03:12,18.83,01:32:12,16:35,03:19,18.09,01:49:35,17:23,03:29,17.26,02:08:11,18:36,03:44,16.13,02:16:41,08:30,03:53,15.49
28,2008,M,"Njenga, Daniel (KEN)",30-34,1,9,5,9,–,02:17:33,00:14:58,14:58,03:00,20.04,00:29:52,14:54,02:59,20.13,00:44:45,14:53,02:59,20.16,01:00:10,15:25,03:05,19.46,01:03:40,03:30,03:12,18.81,01:16:37,12:57,03:20,18.08,01:33:45,17:08,03:26,17.51,01:51:24,17:39,03:32,17.0,02:09:18,17:54,03:35,16.76,02:17:33,08:15,03:46,15.96
29,2008,M,"Limo, Richard (KEN)",25-29,6,10,3,10,–,02:18:48,00:14:58,14:58,03:00,20.04,00:29:51,14:53,02:59,20.16,00:44:44,14:53,02:59,20.16,00:59:20,14:36,02:56,20.55,01:02:38,03:18,03:01,19.95,01:14:35,11:57,03:04,19.6,01:30:51,16:16,03:16,18.44,01:48:44,17:53,03:35,16.78,02:08:58,20:14,04:03,14.83,02:18:48,09:50,04:29,13.39
30,2008,W,"Grigoryeva, Lidiya (RUS)",30-34,105,1,1,23,–,02:27:17,00:18:33,18:33,03:43,16.17,00:36:32,17:59,03:36,16.68,00:54:20,17:48,03:34,16.85,01:12:12,17:52,03:35,16.79,01:16:04,03:52,03:32,17.02,01:29:02,12:58,03:20,18.06,01:46:09,17:07,03:26,17.53,02:03:06,16:57,03:24,17.7,02:19:57,16:51,03:23,17.8,02:27:17,07:20,03:21,17.96
31,2008,W,"Biktimirova, Alevtina (RUS)",25-29,107,2,1,31,–,02:29:32,00:18:33,18:33,03:43,16.17,00:36:32,17:59,03:36,16.68,00:54:19,17:47,03:34,16.87,01:12:11,17:52,03:35,16.79,01:16:03,03:52,03:32,17.02,01:29:01,12:58,03:20,18.06,01:46:09,17:08,03:26,17.51,02:03:29,17:20,03:28,17.31,02:21:42,18:13,03:39,16.47,02:29:32,07:50,03:35,16.81
32,2008,W,"Shimahara, Kiyoko (JPN)",30-34,108,3,2,35,–,02:30:19,00:18:32,18:32,03:43,16.19,00:36:32,18:00,03:36,16.67,00:54:19,17:47,03:34,16.87,01:12:12,17:53,03:35,16.78,01:16:06,03:54,03:34,16.88,01:29:45,13:39,03:30,17.16,01:47:34,17:49,03:34,16.84,02:05:12,17:38,03:32,17.01,02:22:46,17:34,03:31,17.08,02:30:19,07:33,03:27,17.44
33,2008,W,"Tomescu Dita, Constantina (ROU)",35-39,102,4,1,37,–,02:30:57,00:18:31,18:31,03:43,16.2,00:36:31,18:00,03:36,16.67,00:54:19,17:48,03:34,16.85,01:12:12,17:53,03:35,16.78,01:16:06,03:54,03:34,16.88,01:29:44,13:38,03:30,17.18,01:47:35,17:51,03:35,16.81,02:05:16,17:41,03:33,16.97,02:23:05,17:49,03:34,16.84,02:30:57,07:52,03:36,16.74
34,2008,W,"Davila, Desiree (USA)",25-29,112,5,2,41,–,02:31:33,00:18:34,18:34,03:43,16.16,00:36:32,17:58,03:36,16.7,00:54:26,17:54,03:35,16.76,01:12:28,18:02,03:37,16.64,01:16:24,03:56,03:36,16.73,01:30:30,14:06,03:37,16.61,01:48:29,17:59,03:36,16.68,02:06:01,17:32,03:31,17.11,02:23:46,17:45,03:33,16.9,02:31:33,07:47,03:33,16.92
35,2008,W,"De Reuck, Colleen (USA)",40-44,110,6,1,47,–,02:32:25,00:18:32,18:32,03:43,16.19,00:36:31,17:59,03:36,16.68,00:54:21,17:50,03:34,16.82,01:12:12,17:51,03:35,16.81,01:16:07,03:55,03:35,16.81,01:29:47,13:40,03:31,17.14,01:47:40,17:53,03:35,16.78,02:05:40,18:00,03:37,16.67,02:24:17,18:37,03:44,16.11,02:32:25,08:08,03:43,16.19
36,2008,W,"Bekele, Bezunesh (ETH)",25-29,106,7,3,49,–,02:32:41,00:18:33,18:33,03:43,16.17,00:36:32,17:59,03:36,16.68,00:54:19,17:47,03:34,16.87,01:12:11,17:52,03:35,16.79,01:16:06,03:55,03:35,16.81,01:29:20,13:14,03:24,17.7,01:47:07,17:47,03:34,16.87,02:05:21,18:14,03:39,16.45,02:24:08,18:47,03:46,15.97,02:32:41,08:33,03:54,15.4
37,2008,W,"Higgins, Paige (USA)",25-29,113,8,4,51,–,02:33:06,00:18:32,18:32,03:43,16.19,00:36:31,17:59,03:36,16.68,00:54:20,17:49,03:34,16.84,01:12:11,17:51,03:35,16.81,01:16:07,03:56,03:36,16.73,01:30:03,13:56,03:35,16.81,01:48:17,18:14,03:39,16.45,02:06:33,18:16,03:40,16.42,02:24:53,18:20,03:40,16.36,02:33:06,08:13,03:45,16.03
38,2008,W,"O'Neill, Kate (USA)",25-29,104,9,5,56,–,02:34:04,00:18:32,18:32,03:43,16.19,00:36:32,18:00,03:36,16.67,00:54:21,17:49,03:34,16.84,01:12:12,17:51,03:35,16.81,01:16:05,03:53,03:33,16.95,01:29:46,13:41,03:31,17.11,01:47:52,18:06,03:38,16.57,02:06:29,18:37,03:44,16.11,02:25:17,18:48,03:46,15.96,02:34:04,08:47,04:01,14.99
39,2008,W,"Adere, Berhane (ETH)",30-34,101,10,3,57,–,02:34:16,00:18:31,18:31,03:43,16.2,00:36:31,18:00,03:36,16.67,00:54:19,17:48,03:34,16.85,01:12:11,17:52,03:35,16.79,01:16:06,03:55,03:35,16.81,01:29:45,13:39,03:30,17.16,01:47:35,17:50,03:34,16.82,02:06:01,18:26,03:42,16.27,02:25:32,19:31,03:55,15.37,02:34:16,08:44,03:59,15.08
40,2009,M,"Wanjiru, Sammy (KEN)",20-24,2,1,1,1,–,02:05:41,00:14:34,14:34,02:55,20.59,00:29:11,14:37,02:56,20.52,00:44:00,14:49,02:58,20.25,00:58:51,14:51,02:59,20.2,01:02:01,03:10,02:54,20.79,01:13:41,11:40,03:00,20.07,01:28:46,15:05,03:01,19.89,01:43:58,15:12,03:03,19.74,01:58:56,14:58,03:00,20.04,02:05:41,06:45,03:05,19.51
41,2009,M,"Kipruto, Vincent (KEN)",30-34,4,2,1,2,–,02:06:08,00:14:35,14:35,02:55,20.57,00:29:11,14:36,02:56,20.55,00:44:01,14:50,02:58,20.22,00:58:50,14:49,02:58,20.25,01:02:01,03:11,02:55,20.68,01:13:40,11:39,03:00,20.1,01:28:46,15:06,03:02,19.87,01:43:59,15:13,03:03,19.72,01:59:16,15:17,03:04,19.63,02:06:08,06:52,03:08,19.18
42,2009,M,"Munyeki, Charles (KEN)",30-34,8,3,2,3,–,02:07:06,00:14:35,14:35,02:55,20.57,00:29:11,14:36,02:56,20.55,00:44:01,14:50,02:58,20.22,00:58:51,14:50,02:58,20.22,01:02:01,03:10,02:54,20.79,01:13:41,11:40,03:00,20.07,01:28:46,15:05,03:01,19.89,01:43:59,15:13,03:03,19.72,01:59:43,15:44,03:09,19.07,02:07:06,07:23,03:22,17.84
43,2009,M,"Limo, Richard (KEN)",20-24,15,4,2,4,–,02:08:43,00:14:43,14:43,02:57,20.39,00:29:38,14:55,03:00,20.11,00:44:34,14:56,03:00,20.09,00:59:34,15:00,03:00,20.0,01:02:50,03:16,02:59,20.15,01:14:34,11:44,03:01,19.96,01:29:39,15:05,03:01,19.89,01:45:00,15:21,03:05,19.54,02:01:13,16:13,03:15,18.5,02:08:43,07:30,03:26,17.56
44,2009,M,"Korir, Wesley (USA)",35-39,6,5,1,5,–,02:10:38,00:14:43,14:43,02:57,20.39,00:29:38,14:55,03:00,20.11,00:44:42,15:04,03:01,19.91,01:00:07,15:25,03:05,19.46,01:03:31,03:24,03:06,19.36,01:15:58,12:27,03:12,18.81,01:31:27,15:29,03:06,19.38,01:47:16,15:49,03:10,18.97,02:03:20,16:04,03:13,18.67,02:10:38,07:18,03:20,18.04
45,2009,M,"Macharia, Isaac (ESP)",30-34,7,6,3,6,–,02:11:09,00:14:35,14:35,02:55,20.57,00:29:12,14:37,02:56,20.52,00:44:01,14:49,02:58,20.25,00:58:52,14:51,02:59,20.2,01:02:04,03:12,02:56,20.57,01:13:58,11:54,03:03,19.68,01:29:29,15:31,03:07,19.33,01:45:17,15:48,03:10,18.99,02:02:51,17:34,03:31,17.08,02:11:09,08:18,03:47,15.87
46,2009,M,"Reyes, Sergio (USA)",20-24,32,7,3,7,–,02:15:30,00:16:22,16:22,03:17,18.33,00:32:30,16:08,03:14,18.59,00:48:29,15:59,03:12,18.77,01:04:16,15:47,03:10,19.01,01:07:42,03:26,03:08,19.17,01:20:00,12:18,03:10,19.04,01:35:45,15:45,03:09,19.05,01:51:29,15:44,03:09,19.07,02:07:52,16:23,03:17,18.31,02:15:30,07:38,03:29,17.25
47,2009,M,"Rizzo, Patrick (USA)",25-29,12,8,1,8,–,02:15:48,00:16:00,16:00,03:12,18.75,00:31:55,15:55,03:11,18.85,00:47:51,15:56,03:12,18.83,01:03:50,15:59,03:12,18.77,01:07:20,03:30,03:12,18.81,01:19:56,12:36,03:14,18.59,01:36:03,16:07,03:14,18.61,01:52:05,16:02,03:13,18.71,02:08:24,16:19,03:16,18.39,02:15:48,07:24,03:23,17.8
48,2009,M,"Tola, Tedese (ETH)",30-34,9,8,4,8,–,02:15:48,00:14:36,14:36,02:56,20.55,00:29:13,14:37,02:56,20.52,00:44:01,14:48,02:58,20.27,00:58:59,14:58,03:00,20.04,01:02:20,03:21,03:04,19.65,01:14:34,12:14,03:09,19.14,01:29:47,15:13,03:03,19.72,01:46:21,16:34,03:19,18.11,02:05:05,18:44,03:45,16.01,02:15:48,10:43,04:53,12.29
49,2009,M,"Maiyo, Benjamin (KEN)",30-34,5,10,5,10,–,02:16:38,00:14:35,14:35,02:55,20.57,00:29:12,14:37,02:56,20.52,00:44:01,14:49,02:58,20.25,00:58:59,14:58,03:00,20.04,01:02:24,03:25,03:07,19.26,01:15:03,12:39,03:15,18.51,01:31:29,16:26,03:18,18.26,01:48:54,17:25,03:29,17.22,02:07:27,18:33,03:43,16.17,02:16:38,09:11,04:12,14.34

In [6]:
# Nicht benötigte Spalten entfernen
df_chicago_data = df_chicago_data_csv.drop(
    columns=['Age_Group','Runner_Number','Place_Age_Group','Finish_Time','Place_Overall','5K_Diff','5K_min_km','5K_kmh','10K_Diff','10K_min_km','10K_kmh'
            ,'15K_Diff','15K_min_km','15K_kmh','20K_Diff','20K_min_km','20K_kmh','HK_Diff','HK_min_km','HK_kmh','25K_Diff','25K_min_km','25K_kmh'
            ,'30K_Diff','30K_min_km','30K_kmh','35K_Diff','35K_min_km','35K_kmh','40K_Diff','40K_min_km','40K_kmh','FK_Diff','FK_min_km','FK_kmh'
    ])

# Spalten hinzufügen
df_chicago_data['Datum'] = None
df_chicago_data['Nachname'] = None
df_chicago_data['Ort'] = 'Chicago'

# Spalten umbenennen
df_chicago_data = df_chicago_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day' : 'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren
df_chicago_data = df_chicago_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_chicago_data.iterrows():
    #print(row['Vorname'])
    name_split_1 = row['Vorname'].split(',')
    name_split_2 = name_split_1[1].split(' ')
    name_split_2.pop(0)
    name_split_2.pop(len(name_split_2)-1)
    name_split_2 = ' '.join(name_split_2)
    row['Vorname'] = name_split_2
    row['Nachname'] = name_split_1[0]

# Variable auf "none" setzen für spätere Verwendung
name_split_1 = None
name_split_2 = None

df_chicago_data.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2007,Chicago,M,Patrick,Ivuti,1,None,–,02:11:11,00:15:44,00:31:32,00:47:17,01:02:39,01:05:52,01:17:48,01:33:05,01:49:06,02:04:36
1,2007,Chicago,M,Jaouad,Gharib,2,None,–,02:11:11,00:15:44,00:31:31,00:47:17,01:02:39,01:05:53,01:17:48,01:33:05,01:49:06,02:04:37
2,2007,Chicago,M,Daniel,Njenga,3,None,–,02:12:45,00:15:44,00:31:32,00:47:18,01:02:40,01:05:53,01:17:48,01:33:05,01:49:06,02:05:18
3,2007,Chicago,M,Robert K.,Cheruiyot,4,None,–,02:16:13,00:15:44,00:31:31,00:47:16,01:02:39,01:05:52,01:17:47,01:33:05,01:49:06,02:07:50
4,2007,Chicago,M,Benjamin,Maiyo,5,None,–,02:16:59,00:15:44,00:31:31,00:47:16,01:02:39,01:05:53,01:17:48,01:33:27,01:50:36,02:08:58

<hr>
<h1>3. London-Marathon:</h1>
<hr>

In [7]:
# Temporäres Dateframe erzeugen
df_london_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges', 'Name','Club', 'Category', 'Runner_Number', 'Place_Gender', 'Place_Category','Place_Overall','Start_Time_of_day','Finish_Time', 'Race_Status','Last_Split'
        ,'5K_Time_of_day','5K_Time','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time_of_day','15K_Time','15K_Diff','15K_min_km','15K_kmh'
        ,'20K_Time_of_day','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Time','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Time','25K_Diff','25K_min_km','25K_kmh'
        ,'30K_Time_of_day','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Time','40K_Diff','40K_min_km','40K_kmh'
        ,'FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
        ])
    ,dtype=str)

# Daten einlesen
for year in range(2010,2020):
        file_path = main_data_path + 'London/daten_wmm_london_' + str(year) + '.csv'
        df_london_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges', 'Name','Club', 'Category', 'Runner_Number', 'Place_Gender', 'Place_Category','Place_Overall','Start_Time_of_day','Finish_Time', 'Race_Status','Last_Split'
                ,'5K_Time_of_day','5K_Time','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Time','10K_Diff','10K_min_km','10K_kmh','15K_Time_of_day','15K_Time','15K_Diff','15K_min_km','15K_kmh'
                ,'20K_Time_of_day','20K_Time','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Time','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Time','25K_Diff','25K_min_km','25K_kmh'
                ,'30K_Time_of_day','30K_Time','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Time','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Time','40K_Diff','40K_min_km','40K_kmh'
                ,'FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
                ]
        )
        df_london_data_csv = df_london_data_csv.append(df_london_data_csv_temp, ignore_index=True)

df_london_data_csv.head()

,Jahr,Ges,Name,Club,Category,Runner_Number,Place_Gender,Place_Category,Place_Overall,Start_Time_of_day,...,40K_Time_of_day,40K_Time,40K_Diff,40K_min_km,40K_kmh,FK_Time_of_day,FK_Time,FK_Diff,FK_min_km,FK_kmh
0,2010,M,"Kebede, Tsegaye (ETH)",NaN,18-39,5,1,1,1,09:45:00,...,NaN,01:58:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,M,"Mutai, Emmanuel (KEN)",NaN,18-39,7,2,2,2,09:45:00,...,NaN,01:59:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,M,"Gharib, Jaouad (MAR)",NaN,18-39,6,3,3,3,09:45:00,...,NaN,02:00:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,M,"Bouramdane, Abderrahime (MAR)",NaN,18-39,9,4,4,4,09:45:00,...,NaN,02:00:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,M,"Kirui, Abel (KEN)",NaN,18-39,3,5,5,5,09:45:00,...,NaN,01:59:46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Nicht benötigte Spalten entfernen
df_london_data = df_london_data_csv.drop(
    columns=['Club', 'Category', 'Runner_Number','Place_Category','Place_Overall','Race_Status','Last_Split','5K_Time_of_day','5K_Diff','5K_min_km','5K_kmh','10K_Time_of_day','10K_Diff','10K_min_km','10K_kmh'
                ,'15K_Time_of_day','15K_Diff','15K_min_km','15K_kmh','20K_Time_of_day','20K_Diff','20K_min_km','20K_kmh','HK_Time_of_day','HK_Diff','HK_min_km','HK_kmh','25K_Time_of_day','25K_Diff','25K_min_km','25K_kmh'
                ,'30K_Time_of_day','30K_Diff','30K_min_km','30K_kmh','35K_Time_of_day','35K_Diff','35K_min_km','35K_kmh','40K_Time_of_day','40K_Diff','40K_min_km','40K_kmh','FK_Time_of_day','FK_Time','FK_Diff','FK_min_km','FK_kmh'
    ])

# Spalten hinzufügen
df_london_data['Datum'] = None
df_london_data['Nachname'] = None
df_london_data['Ort'] = 'London'

# Spalten umbenennen
df_london_data = df_london_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','Finish_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day':'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren
df_london_data = df_london_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_london_data.iterrows():
    #print(row['Vorname'])
    name_split_1 = row['Vorname'].split(',')
    name_split_2 = name_split_1[1].split(' ')
    name_split_2.pop(0)
    name_split_2.pop(len(name_split_2)-1)
    name_split_2 = ' '.join(name_split_2)
    row['Vorname'] = name_split_2
    row['Nachname'] = name_split_1[0]

# Variable auf "none" setzen für spätere Verwendung
name_split_1 = None
name_split_2 = None

df_london_data.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2010,London,M,Tsegaye,Kebede,1,None,09:45:00,02:05:19,00:14:40,00:29:42,00:44:51,00:59:54,01:03:07,01:14:19,01:28:46,01:43:30,01:58:41
1,2010,London,M,Emmanuel,Mutai,2,None,09:45:00,02:06:23,00:14:40,00:29:42,00:44:51,00:59:54,01:03:06,01:14:20,01:28:52,01:44:05,01:59:39
2,2010,London,M,Jaouad,Gharib,3,None,09:45:00,02:06:55,00:14:40,00:29:42,00:44:52,00:59:54,01:03:07,01:14:21,01:29:01,01:44:25,02:00:15
3,2010,London,M,Abderrahime,Bouramdane,4,None,09:45:00,02:07:33,00:14:40,00:29:42,00:44:52,00:59:54,01:03:07,01:14:20,01:29:00,01:44:26,02:00:36
4,2010,London,M,Abel,Kirui,5,None,09:45:00,02:08:04,00:14:40,00:29:42,00:44:51,00:59:53,01:03:06,01:14:19,01:28:46,01:43:37,01:59:46

<hr>
<h1>4. New York-Marathon:</h1>
<hr>

In [9]:
# Temporäres Dateframe erzeugen
df_newyork_data_csv = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Start_Time_of_day','Name','Runner_Number','FK_Time','Pace_per_Mile','Place_Overall','Place_Gender','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded'
        ,'Gun_Time','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time'
        ])
    ,dtype=str)

# Daten einlesen (Im Jahr 2012 fand kein Marathon statt)
for year in [2007,2008,2009,2010,2011,2013,2014,2015,2016,2017,2018,2019]:
        file_path = main_data_path + 'NYC/daten_wmm_nyc_' + str(year) + '.csv'
        df_newyork_data_csv_temp = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                'Jahr','Ges','Start_Time_of_day','Name','Runner_Number','FK_Time','Pace_per_Mile','Place_Overall','Place_Gender','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded'
                ,'Gun_Time','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time'
                ]
        )
        df_newyork_data_csv = df_newyork_data_csv.append(df_newyork_data_csv_temp, ignore_index=True)

df_newyork_data_csv.head()

,Jahr,Ges,Start_Time_of_day,Name,Runner_Number,FK_Time,Pace_per_Mile,Place_Overall,Place_Gender,Age_Group,...,Gun_Time,5K_Time,10K_Time,15K_Time,20K_Time,HK_Time,25K_Time,30K_Time,35K_Time,40K_Time
0,2007,M,9:00AM,Martin Lel,3,2:09:04,04:56,1,1,NaN,...,2:09:04,0:15:48,0:31:26,0:46:13,1:02:16,1:05:45,1:17:46,1:32:20,1:47:34,2:02:44
1,2007,M,9:00AM,Abderrahim Goumri,4,2:09:16,04:56,2,2,NaN,...,2:09:16,0:15:48,0:31:27,0:46:14,1:02:17,1:05:46,1:17:46,1:32:21,1:47:34,2:02:44
2,2007,M,9:00AM,Hendrick Ramaala,9,2:11:25,05:01,3,3,NaN,...,2:11:25,0:15:48,0:31:23,0:46:14,1:02:19,1:05:46,1:17:47,1:32:21,1:47:35,2:03:50
3,2007,M,9:00AM,Stefano Baldini,6,2:11:58,05:02,4,4,NaN,...,2:11:58,0:15:48,0:31:30,0:46:46,1:02:19,1:05:47,1:17:47,1:33:00,1:49:01,2:05:05
4,2007,M,9:00AM,James Kwambai,11,2:12:25,05:03,5,5,NaN,...,2:12:25,0:15:49,0:31:26,0:46:14,1:02:17,1:05:46,1:17:47,1:32:20,1:47:34,2:04:22

In [10]:
# Nicht benötigte Spalten entfernen
df_newyork_data = df_newyork_data_csv.drop(
    columns=['Runner_Number','Pace_per_Mile','Place_Overall','Age_Group','Place_Age_Group','Place_Age_Graded','Time_Age_Graded','Gun_Time'
    ])

# Spalten hinzufügen
df_newyork_data['Datum'] = None
df_newyork_data['Nachname'] = None
df_newyork_data['Ort'] = 'NewYork'

# Spalten umbenennen
df_newyork_data = df_newyork_data.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Start_Time_of_day':'Startzeit',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Uhrzeit korrigieren: 2:00PM zu 12:00PM (Fehler ist beim abziehen der Daten entstanden)
df_newyork_data['Startzeit'].mask(df_newyork_data['Jahr'] == 2018,'12:00PM',inplace=True)

# Spalten umsortieren
df_newyork_data = df_newyork_data[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_newyork_data.iterrows():
    #print(row['Vorname'])
    name_split = row['Vorname'].split(' ')
    name_vname = name_split[0]
    name_split.pop(0)
    name_nname = ' '.join(name_split)
    row['Vorname'] = name_vname
    row['Nachname'] = name_nname
    #start_zeit = row['Startzeit']
    #row['Startzeit'] = start_zeit[:-2]

# Variable auf "none" setzen für spätere Verwendung
name_split = None

df_newyork_data.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2007,NewYork,M,Martin,Lel,1,None,9:00AM,2:09:04,0:15:48,0:31:26,0:46:13,1:02:16,1:05:45,1:17:46,1:32:20,1:47:34,2:02:44
1,2007,NewYork,M,Abderrahim,Goumri,2,None,9:00AM,2:09:16,0:15:48,0:31:27,0:46:14,1:02:17,1:05:46,1:17:46,1:32:21,1:47:34,2:02:44
2,2007,NewYork,M,Hendrick,Ramaala,3,None,9:00AM,2:11:25,0:15:48,0:31:23,0:46:14,1:02:19,1:05:46,1:17:47,1:32:21,1:47:35,2:03:50
3,2007,NewYork,M,Stefano,Baldini,4,None,9:00AM,2:11:58,0:15:48,0:31:30,0:46:46,1:02:19,1:05:47,1:17:47,1:33:00,1:49:01,2:05:05
4,2007,NewYork,M,James,Kwambai,5,None,9:00AM,2:12:25,0:15:49,0:31:26,0:46:14,1:02:17,1:05:46,1:17:47,1:32:20,1:47:34,2:04:22

<hr>
<h1>5. Tokyo-Marathon:</h1>
<hr>

In [11]:
# Temporäres Dateframe erzeugen (für die Jahre 2007 bis 2014)

df_tokyo_data_csv_1 = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Name','Number','Time','Time_Chip ','Place','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
        ])
    ,dtype=str)

# Temporäres Dateframe erzeugen (für die Jahre 2015 bis 2019)
df_tokyo_data_csv_2 = pd.DataFrame(pd.DataFrame(
    columns=[
        'Jahr','Ges','Place_Overall','Number_Card','Name','Age_Group','Place_Age_Group','Place_Gender','Time_net','Time_gross','5K_Time','10K_Time','15K_Time','20K_Time'
        ,'HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
        ])
    ,dtype=str)

# Daten einlesen (2007 bis 2014)
for year in range(2007,2015):
        file_path = main_data_path + 'Tokyo/daten_wmm_tokyo_' + str(year) + '.csv'
        df_tokyo_data_csv_temp_1 = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                    'Jahr','Ges','Name','Number','Time','Time_Chip ','Place','5K_Time','10K_Time','15K_Time','20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
                ]
        )
        df_tokyo_data_csv_1 = df_tokyo_data_csv_1.append(df_tokyo_data_csv_temp_1, ignore_index=True)

# Daten einlesen (2015 bis 2019)
for year in range(2015,2020):
        file_path = main_data_path + 'Tokyo/daten_wmm_tokyo_' + str(year) + '.csv'
        df_tokyo_data_csv_temp_2 = pd.read_csv(filepath_or_buffer=file_path,
                header=0, sep=';',decimal='.'
                ,names=[
                    'Jahr','Ges','Place_Overall','Number_Card','Name','Age_Group','Place_Age_Group','Place_Gender','Time_net','Time_gross','5K_Time','10K_Time','15K_Time'
                    ,'20K_Time','HK_Time','25K_Time','30K_Time','35K_Time','40K_Time','FK_Time'
                ]
        )
        df_tokyo_data_csv_2 = df_tokyo_data_csv_2.append(df_tokyo_data_csv_temp_2, ignore_index=True)

In [12]:
df_tokyo_data_csv_1.head()

,Jahr,Ges,Name,Number,Time,Time_Chip,Place,5K_Time,10K_Time,15K_Time,20K_Time,HK_Time,25K_Time,30K_Time,35K_Time,40K_Time,FK_Time
0,2007,M,Daniel Njenga,2,2:09:45,2:09:45,1,0:15:05,0:30:18,0:45:49,1:01:21,1:04:50,1:17:13,1:32:04,1:47:11,2:02:43,2:09:45
1,2007,M,Tomoyuki Sato,34,2:11:22,2:11:22,2,0:15:06,0:30:19,0:45:51,1:01:22,1:04:51,1:17:15,1:32:39,1:48:32,2:04:22,2:11:22
2,2007,M,Satoshi Irifune,32,2:12:44,2:12:43,3,0:15:05,0:30:18,0:45:50,1:01:21,1:04:50,1:17:15,1:32:39,1:48:32,2:05:05,2:12:44
3,2007,M,Masashi Hayashi,101,2:15:28,2:15:28,4,0:15:06,0:30:20,0:45:51,1:01:22,1:04:50,1:17:15,1:32:50,1:49:16,2:06:55,2:15:28
4,2007,M,Kazuyoshi Tokumoto,178,2:15:55,2:15:54,5,0:15:05,0:30:18,0:45:51,1:01:21,1:04:50,1:17:14,1:32:39,1:48:45,2:07:04,2:15:55

In [13]:
# Nicht benötigte Spalten entfernen (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_csv_1.drop(
    columns=['Time', 'Time_Chip '
    ])

# Spalten hinzufügen (Jahr 2007 bis 2014)
df_tokyo_data_1['Datum'] = None
df_tokyo_data_1['Startzeit'] = None
df_tokyo_data_1['Ort'] = 'Tokyo'

# Spalten umbenennen (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_1.rename(
    columns={'Ges':'Geschlecht','Place':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Number':'Nachname','FK_Time':'T_KM_FN',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren (Jahr 2007 bis 2014)
df_tokyo_data_1 = df_tokyo_data_1[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

df_tokyo_data_1.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2007,Tokyo,M,Daniel Njenga,2,1,None,None,2:09:45,0:15:05,0:30:18,0:45:49,1:01:21,1:04:50,1:17:13,1:32:04,1:47:11,2:02:43
1,2007,Tokyo,M,Tomoyuki Sato,34,2,None,None,2:11:22,0:15:06,0:30:19,0:45:51,1:01:22,1:04:51,1:17:15,1:32:39,1:48:32,2:04:22
2,2007,Tokyo,M,Satoshi Irifune,32,3,None,None,2:12:44,0:15:05,0:30:18,0:45:50,1:01:21,1:04:50,1:17:15,1:32:39,1:48:32,2:05:05
3,2007,Tokyo,M,Masashi Hayashi,101,4,None,None,2:15:28,0:15:06,0:30:20,0:45:51,1:01:22,1:04:50,1:17:15,1:32:50,1:49:16,2:06:55
4,2007,Tokyo,M,Kazuyoshi Tokumoto,178,5,None,None,2:15:55,0:15:05,0:30:18,0:45:51,1:01:21,1:04:50,1:17:14,1:32:39,1:48:45,2:07:04

In [14]:
df_tokyo_data_csv_2.head()

,Jahr,Ges,Place_Overall,Number_Card,Name,Age_Group,Place_Age_Group,Place_Gender,Time_net,Time_gross,5K_Time,10K_Time,15K_Time,20K_Time,HK_Time,25K_Time,30K_Time,35K_Time,40K_Time,FK_Time
0,2015,M,1,5,ENDESHAW NEGESSE,Age Place(25-29),1,1,2:05:59,2:06:00,0:14:56,0:29:54,0:44:50,0:59:52,1:03:08,1:14:45,1:29:50,1:44:45,1:59:21,2:06:00
1,2015,M,2,3,STEPHEN KIPROTICH,Age Place(25-29),2,2,2:06:32,2:06:33,0:14:56,0:29:54,0:44:51,0:59:52,1:03:09,1:14:45,1:29:50,1:44:45,1:59:55,2:06:33
2,2015,M,3,4,DICKSON CHUMBA,Age Place(25-29),3,3,2:06:33,2:06:34,0:14:57,0:29:54,0:44:50,0:59:51,1:03:09,1:14:45,1:29:51,1:44:45,1:59:28,2:06:34
3,2015,M,4,8,SHUMI DECHASA,Age Place(25-29),4,4,2:07:19,2:07:20,0:14:57,0:29:54,0:44:49,0:59:51,1:03:09,1:14:45,1:29:50,1:44:44,2:00:21,2:07:20
4,2015,M,5,7,PETER SOME,Age Place(20-24),1,5,2:07:22,2:07:22,0:14:57,0:29:54,0:44:50,0:59:52,1:03:09,1:14:45,1:29:51,1:44:45,2:00:04,2:07:22

In [15]:
# Nicht benötigte Spalten entfernen (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_csv_2.drop(
    columns=['Place_Overall','Age_Group','Place_Age_Group','Time_net','Time_gross'
    ])
# Spalten hinzufügen (Jahr 2015 bis 2019)
df_tokyo_data_2['Datum'] = None
df_tokyo_data_2['Startzeit'] = None
df_tokyo_data_2['Ort'] = 'Tokyo'

# Spalten umbenennen (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_2.rename(
    columns={'Ges':'Geschlecht','Place_Gender':'Platz','FK_Time':'T_KM_FN','Name':'Vorname','Number_Card':'Nachname','FK_Time':'T_KM_FN',
    '5K_Time':'T_KM_5','10K_Time':'T_KM_10','15K_Time':'T_KM_15','20K_Time':'T_KM_20','HK_Time':'T_KM_HM','25K_Time':'T_KM_25','30K_Time':'T_KM_30','35K_Time':'T_KM_35','40K_Time':'T_KM_40'})

# Spalten umsortieren (Jahr 2015 bis 2019)
df_tokyo_data_2 = df_tokyo_data_2[['Jahr','Ort','Geschlecht','Vorname','Nachname','Platz','Datum','Startzeit','T_KM_FN','T_KM_5','T_KM_10','T_KM_15','T_KM_20','T_KM_HM','T_KM_25','T_KM_30','T_KM_35','T_KM_40']]

df_tokyo_data_2.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2015,Tokyo,M,ENDESHAW NEGESSE,5,1,None,None,2:06:00,0:14:56,0:29:54,0:44:50,0:59:52,1:03:08,1:14:45,1:29:50,1:44:45,1:59:21
1,2015,Tokyo,M,STEPHEN KIPROTICH,3,2,None,None,2:06:33,0:14:56,0:29:54,0:44:51,0:59:52,1:03:09,1:14:45,1:29:50,1:44:45,1:59:55
2,2015,Tokyo,M,DICKSON CHUMBA,4,3,None,None,2:06:34,0:14:57,0:29:54,0:44:50,0:59:51,1:03:09,1:14:45,1:29:51,1:44:45,1:59:28
3,2015,Tokyo,M,SHUMI DECHASA,8,4,None,None,2:07:20,0:14:57,0:29:54,0:44:49,0:59:51,1:03:09,1:14:45,1:29:50,1:44:44,2:00:21
4,2015,Tokyo,M,PETER SOME,7,5,None,None,2:07:22,0:14:57,0:29:54,0:44:50,0:59:52,1:03:09,1:14:45,1:29:51,1:44:45,2:00:04

In [16]:
# Datensätze aus den Jahren 2007 bis 2014 mit den Datensätzen aus den Jahren 2015 bis 2019 zusammenführen
df_tokyo_data = pd.concat([df_tokyo_data_1,df_tokyo_data_2], ignore_index=True)

# Inhalt aus der ursprünglichen Spalte Name in Vorname und Nachname trennen
for index, row in df_tokyo_data.iterrows():
    #print(row['Vorname'])
    name_split = row['Vorname'].split(' ')
    if len(name_split) > 2:
        row['Nachname'] = name_split[1] + ' ' + name_split[2]
    else:
        row['Nachname'] = name_split[1]

    row['Vorname'] = name_split[0]
    
# Variable auf "none" setzen für spätere Verwendung
name_split = None

df_tokyo_data.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2007,Tokyo,M,Daniel,Njenga,1,None,None,2:09:45,0:15:05,0:30:18,0:45:49,1:01:21,1:04:50,1:17:13,1:32:04,1:47:11,2:02:43
1,2007,Tokyo,M,Tomoyuki,Sato,2,None,None,2:11:22,0:15:06,0:30:19,0:45:51,1:01:22,1:04:51,1:17:15,1:32:39,1:48:32,2:04:22
2,2007,Tokyo,M,Satoshi,Irifune,3,None,None,2:12:44,0:15:05,0:30:18,0:45:50,1:01:21,1:04:50,1:17:15,1:32:39,1:48:32,2:05:05
3,2007,Tokyo,M,Masashi,Hayashi,4,None,None,2:15:28,0:15:06,0:30:20,0:45:51,1:01:22,1:04:50,1:17:15,1:32:50,1:49:16,2:06:55
4,2007,Tokyo,M,Kazuyoshi,Tokumoto,5,None,None,2:15:55,0:15:05,0:30:18,0:45:51,1:01:21,1:04:50,1:17:14,1:32:39,1:48:45,2:07:04

<hr>
<h1>Alle eingelesenen und harmonisierten Datensätze zusammenführen</h1>
<hr>

In [17]:
# Alle Datensätze zusammenführen
df_wmm_data_all = pd.concat([df_berlin_data,df_chicago_data,df_london_data,df_newyork_data,df_tokyo_data], ignore_index=True)
df_wmm_data_all.head()

,Jahr,Ort,Geschlecht,Vorname,Nachname,Platz,Datum,Startzeit,T_KM_FN,T_KM_5,T_KM_10,T_KM_15,T_KM_20,T_KM_HM,T_KM_25,T_KM_30,T_KM_35,T_KM_40
0,2019,Berlin,M,Kenenisa,Bekele,1,None,None,02:01:41,00:14:24,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:55,01:41:15,01:55:30
1,2019,Berlin,M,Birhanu,Legese,2,None,None,02:02:48,00:14:25,00:28:53,00:43:29,00:57:58,01:01:05,01:12:30,01:26:53,01:41:02,01:56:00
2,2019,Berlin,M,Sisay,Lemma,3,None,None,02:03:36,00:14:25,00:28:52,00:43:29,00:57:58,01:01:06,01:12:31,01:26:53,01:41:16,01:56:54
3,2019,Berlin,M,Jonathan,Korir,4,None,None,02:06:45,00:14:25,00:28:53,00:43:30,00:57:58,01:01:06,01:12:31,01:27:42,01:43:39,01:59:49
4,2019,Berlin,M,Felix,Kandie,5,None,None,02:08:07,00:14:43,00:29:30,00:44:19,00:59:06,01:02:20,01:14:04,01:28:58,01:44:10,02:00:27

In [18]:
# Alle Datensätze in eine CSV-Datei speichern.
file_name = main_data_path + "wmm_data/daten_wmm_all_harm.csv"
df_wmm_data_all.to_csv(file_name, sep=';', index=False)